<div class="flex min-h-screen shadow-2xl">
  <nav class="flex flex-col bg-grey px-4 gap-2 font-semibold text-slate-600 shadow-xl">
    <div class="text-2xl text-center text-blue font-bold py-4">Увезём</div>
    <div class="flex flex-col gap-4 text-white text-base items-start">
      <a
        class="relative hover:bg-blue px-12 py-3 rounded-lg w-full group"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <span
          class="absolute rounded-r-lg shadow-2xl -left-4 top-0 h-full w-2 bg-transparent group-hover:bg-blue transition-all"></span>
        Главная
      </a>
      <a
        class="relative hover:bg-blue px-12 py-3 rounded-lg w-full group"
        routerLink="/cars"
        routerLinkActive="active">
        <span
          class="absolute rounded-r-lg shadow-2xl -left-4 top-0 h-full w-2 bg-transparent group-hover:bg-blue transition-all"></span>
        Машины
      </a>
      <a
        class="relative hover:bg-blue px-12 py-3 rounded-lg w-full group"
        routerLink="/drivers"
        routerLinkActive="active">
        <span
          class="absolute rounded-r-lg shadow-2xl -left-4 top-0 h-full w-2 bg-transparent group-hover:bg-blue transition-all"></span>
        Водители
      </a>
      <a
        class="relative hover:bg-blue px-12 py-3 rounded-lg w-full group"
        routerLink="/travels"
        routerLinkActive="active">
        <span
          class="absolute rounded-r-lg shadow-2xl -left-4 top-0 h-full w-2 bg-transparent group-hover:bg-blue transition-all"></span>
        Поездки
      </a>
      <a
        class="relative hover:bg-blue px-12 py-3 rounded-lg w-full group whitespace-nowrap"
        routerLink="/users"
        routerLinkActive="active">
        <span
          class="absolute rounded-r-lg shadow-2xl -left-4 top-0 h-full w-2 bg-transparent group-hover:bg-blue transition-all"></span>
        Клиенты
      </a>
    </div>
  </nav>
  <div class="w-full flex flex-col min-h-screen">
    <div class="h-16 bg-grey"></div>
    <div class="bg-dark flex-1 px-7 border-border border-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>